.form-cadastro {
    position: relative;
    text-align: center;
}

.title-cadastro {
    position: relative;
    color: white;
    text-align: center;
    top: 100px;
}

.subtitle-cadastro {
    color: white;
    position: relative;
}

.circle-icon-jogador {
    position: absolute;
    color: #FA00FF;
    width: 25px;
    height: 25px;
    top: 25px;
    left: 20px;
}

.informacoes-jogador {
    position: relative;
    top: 120px;
    left: 12%;
    width: 440px;
    background-color: transparent;
    border: 2px solid #FA00FF;
    text-align: 30px left;
    border-radius: 15px;
}

.input-cadastro {
    padding: 10px;
    background-color: transparent;
    border: 2px solid #FA00FF;
    border-radius: 5px;
    width: 300px;
    color: white;
    font-size: 12px;
    transition: all 0.2s ease;
    margin: 20px 0;
    position: relative;
}

.label-input-cadastro-nome {
    position: absolute;
    left: 60px;
    top: 99px;
    padding: 0 4px;
    color: white;
    background-color: black;
    transition: all 0.2s ease;
    pointer-events: none;
}

.label-input-cadastro-email {
    position: absolute;
    left: 60px;
    top: 177px;
    padding: 0 4px;
    color: white;
    background-color: black;
    transition: all 0.2s ease;
    pointer-events: none;
}

.label-input-cadastro-cpf {
    position: absolute;
    left: 60px;
    top: 256px;
    padding: 0 4px;
    color: white;
    background-color: black;
    transition: all 0.2s ease;
    pointer-events: none;
}

.label-input-cadastro-nasc {
    position: absolute;
    left: 60px;
    top: 334px;
    padding: 0 4px;
    color: white;
    background-color: black;
    transition: all 0.2s ease;
    pointer-events: none;
}

.date-icon {
    position: absolute;
    color: white;
    left: 340px;
    width: 30px;
    height: 30px;
    top: 330px;
}

.label-input-cadastro-senha {
    position: absolute;
    left: 60px;
    top: 413px;
    padding: 0 4px;
    color: white;
    background-color: black;
    transition: all 0.2s ease;
    pointer-events: none;
}

.label-input-cadastro-repsenha {
    position: absolute;
    left: 60px;
    top: 491px;
    padding: 0 4px;
    color: white;
    background-color: black;
    transition: all 0.2s ease;
    pointer-events: none;
}

.input:not(:placeholder-shown)~.label-input-cadastro-nome,
.input-cadastro:focus~.label-input-cadastro-nome {
    top: 81px;
    font-size: 13px;
}

.input:not(:placeholder-shown)~.label-input-cadastro-email,
.input-cadastro:focus~.label-input-cadastro-email {
    top: 160px;
    font-size: 13px;
}

.input:not(:placeholder-shown)~.label-input-cadastro-cpf,
.input-cadastro:focus~.label-input-cadastro-cpf {
    top: 238px;
    font-size: 13px;
}

.input:not(:placeholder-shown)~.label-input-cadastro-nasc,
.input-cadastro:focus~.label-input-cadastro-nasc {
    top: 315px;
    font-size: 13px;
}

.input:not(:placeholder-shown)~.label-input-cadastro-senha,
.input-cadastro:focus~.label-input-cadastro-senha {
    top: 395px;
    font-size: 13px;
}

.input:not(:placeholder-shown)~.label-input-cadastro-repsenha,
.input-cadastro:focus~.label-input-cadastro-repsenha {
    top: 473px;
    font-size: 13px;
}

.endereco-jogador {
    position: relative;
    top: -425px;
    right: -55%;
    width: 440px;
    background-color: transparent;
    border: 2px solid #FA00FF;
    text-align: 30px left;
    border-radius: 15px;
}

.label-input-cadastro-pais {
    position: absolute;
    left: 60px;
    top: 99px;
    padding: 0 4px;
    color: white;
    background-color: black;
    transition: all 0.2s ease;
    pointer-events: none;
}

.label-input-cadastro-cep {
    position: absolute;
    left: 60px;
    top: 177px;
    padding: 0 4px;
    color: white;
    background-color: black;
    transition: all 0.2s ease;
    pointer-events: none;
}

.label-input-cadastro-cidade {
    position: absolute;
    left: 60px;
    top: 256px;
    padding: 0 4px;
    color: white;
    background-color: black;
    transition: all 0.2s ease;
    pointer-events: none;
}

.label-input-cadastro-estado {
    position: absolute;
    left: 60px;
    top: 334px;
    padding: 0 4px;
    color: white;
    background-color: black;
    transition: all 0.2s ease;
    pointer-events: none;
}

.label-input-cadastro-rua {
    position: absolute;
    left: 60px;
    top: 413px;
    padding: 0 4px;
    color: white;
    background-color: black;
    transition: all 0.2s ease;
    pointer-events: none;
}

.label-input-cadastro-numero {
    position: absolute;
    left: 60px;
    top: 491px;
    padding: 0 4px;
    color: white;
    background-color: black;
    transition: all 0.2s ease;
    pointer-events: none;
}

.input:not(:placeholder-shown)~.label-input-cadastro-pais,
.input-cadastro:focus~.label-input-cadastro-pais {
    top: 81px;
    font-size: 13px;
}

.input:not(:placeholder-shown)~.label-input-cadastro-cep,
.input-cadastro:focus~.label-input-cadastro-cep {
    top: 160px;
    font-size: 13px;
}

.input:not(:placeholder-shown)~.label-input-cadastro-cidade,
.input-cadastro:focus~.label-input-cadastro-cidade {
    top: 238px;
    font-size: 13px;
}

.input:not(:placeholder-shown)~.label-input-cadastro-estado,
.input-cadastro:focus~.label-input-cadastro-estado {
    top: 315px;
    font-size: 13px;
}

.input:not(:placeholder-shown)~.label-input-cadastro-rua,
.input-cadastro:focus~.label-input-cadastro-rua {
    top: 395px;
    font-size: 13px;
}

.input:not(:placeholder-shown)~.label-input-cadastro-numero,
.input-cadastro:focus~.label-input-cadastro-numero {
    top: 473px;
    font-size: 13px;
}

.btn-cadastro {
    position: relative;
    width: 280px;
    height: 40px;
    top: -350px;
    border-radius: 30px;
    background-color: #FA00FF;
    border: none;
    font-size: 20px;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
}

.line-cadastro {
    position: relative;
    width: 500px;
    top: -320px;
}

.tem-conta {
    position: relative;
    top: -300px;
    color: white;
    font-size: 20px;
    text-decoration: underline black;
}

.tem-conta u {
    color: #FA00FF;
}
