body {
    background-color: black;
}

.title-login {
    color: white;
}

.form-login {
    position: relative;
    text-align: center;
    top: 100px;
}

.input-login {
    padding: 10px;
    background-color: transparent;
    border: 2px solid #FA00FF;
    border-radius: 5px;
    width: 300px;
    color: white;
    font-size: 12px;
    transition: all 0.2s ease;
    margin: 20px 0;
}

.label-input {
    position: absolute;
    left: 520px;
    top: 91px;
    padding: 0 4px;
    color: white;
    background-color: black;
    transition: all 0.2s ease;
    pointer-events: none;
}

.label-input-senha {
    position: absolute;
    left: 520px;
    top: 170px;
    padding: 0 4px;
    color: white;
    background-color: black;
    transition: all 0.2s ease;
    pointer-events: none;
}

.input-login:not(:placeholder-shown)~.label-input,
.input-login:focus~.label-input {
    top: 75px;
    font-size: 13px;
}


.input:not(:placeholder-shown)~.label-input-senha,
.input-login:focus~.label-input-senha {
    top: 152px;
    font-size: 13px;
}

.esqueci-senha {
    position: absolute;
    left: 530px;
    text-decoration: underline;
    color: white;
}

.btn-login {
    position: relative;
    width: 280px;
    height: 40px;
    top: 70px;
    border-radius: 30px;
    background-color: #FA00FF;
    border: none;
    font-size: 20px;
    font-weight: bold;
}

button:hover { 
    cursor: pointer;
}

.line-login {
    position: relative;
    width: 500px;
    top: 100px;
}

.criar-conta {
    position: relative;
    top: 120px;
    color: white;
    font-size: 20px;
    text-decoration: underline black;
}

.criar-conta u {
    color: #FA00FF;
}

