.title-finalizar {
    position: relative;
    color: white;
    text-align: center;
    top: 100px;
}

.check {
    position: relative;
    left: 67%;
    top: 35px;
}

.informacoes-pix {
    background-color: gray;
    position: absolute;
    top: 200px;
    left: 15%;
    width: 70%;
    height: 350px;
    border-radius: 30px;
}

.informacoes {
    width: 60%;
}

.informacoes h1 {
    position: relative;
    left: 5%;
    color: white;
    font-size: 24px;
    top: 10px;
}

.informacoes label {
    position: relative;
    left: 10%;
    font-size: 18px;
    color: white;
}

.informacoes hr {
    position: relative;
    left: 5%;
    top: 10px;
}

.informacoes .btn-copia {
    position: relative;
    left: 25%;
    width: 140px;
    height: 40px;
    border: none;
    border-radius: 30px;
    background-color: #FA00FF;
    font-size: 20px;
    color: white;
    font-weight: bold;
}

.pix .qr-pix {
    position: relative;
    left: 70%;
    top: -250px;
    width: 250px;
    height: 250px;
}

.informacoes-pedido {
    position: relative;
    left: 10%;
    width: 50%;
}

.informacoes-pedido  .informacoes h1 {
    position: relative;
    left: 29%;
    top: 450px;
    color: white;
    font-size: 24px; 
}

.informacoes-pedido .informacoes label {
    position: relative;
    left: 29%;
    top: 450px;
    font-size: 18px;
    color: white; 
}

.informacoes-pedido .pedido h1{
    position: relative;
    left: 90%;
    width: 70px;
    top: 265px;
    color: white;
    font-size: 24px; 
}

.informacoes-pedido .pedido .hr-cima {
    position: relative;
    left: 67.5%;
    top: 265px;
    width: 370px;
}

.informacoes-pedido .pedido .hr-baixo {
    position: relative;
    left: 67.5%;
    top: 150px;
    width: 370px;
}

.informacoes-pedido .pedido img {
    position: relative;
    left: 90%;
    top: 280px;
    width: 80px;
    height: 110px;
}

.informacoes-pedido .pedido h3 {
    position: relative;
    left: 105%;
    top: 140px;
    width: 300px;
}
