main {
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
}

.container_card {
  display: flex;
  justify-content: space-between;
  margin: 15px 5px;
}

.titulo_card {
  margin: 0.5em 2em 0em 2em;
}

 /* Estilos para o card */
 .card {
  width: 200px;
  height: 217px;
  border: 1px solid #000000;
  border-radius: 20px;
  margin: 2em;
}

.verMais {
  width: 200px;
  height: 217px;
  border: 1px solid #000000;
  border-radius: 20px;
  margin: 2em;
  background-color: #393939;
  align-items: center;
}

h2 {
  color: #ffffff;
  text-align: center;
  align-items: center;
}