/* App.css ou estilos globais */
body {
  background-color: #1a202c; /* Cor de fundo padrão */
  padding-top: 4rem; /* Espaço no topo para a navbar fixa */
  padding-bottom: 6rem; /* Espaço na parte inferior para o rodapé */
}

@media (min-width: 768px) {
  body {
    padding-top: 5rem; /* Ajuste para dispositivos maiores, se necessário */
    padding-bottom: 8rem; /* Ajuste para dispositivos maiores, se necessário */
  }
}
