/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remova qualquer estilo desnecessário do body */
body {
  background-color: #1a202c; /* Cor de fundo padrão */
  padding-top: 4rem; /* Espaço no topo para a navbar fixa */
  margin: 0; /* Garanta que não haja margens */
}

