.container {
    background-color: #393939;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0 0 0.5em 0; 
}

.container.logo {
    width: 180px;
}

.logo_rodape {
    margin: 15px 0 9px 30px;
    width: 180px;
}

.container_informacoes { 
    display: flex;
    padding: 0 8em 0 8em;
    gap: 0 4em;
    justify-content: space-between;
}

.icons_social {
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding-top: 1em;
}

.icone {
    width: 42px;
}

.logo_pagamento {
    display: flex;
    width: 400px;
}



.email {
    padding-top: 1em;
    display: flex;
}

.caixaTexto {
    background-color: transparent;
    color: #ffffff;
    border-bottom: 2px, #ffffff ;
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    padding-left: 0.5em;
    width: 180px;
}

.botao {
    background-color: blue;
    color: #ffffff;
    border: none;
    padding: 0.6em 1.7em;
    border-radius: 17px;
    font-size: 16px;
    margin-left: 0.7em;
    cursor: pointer;
}